# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [2]:
import pandas as pd
import numpy as np

In [246]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [253]:
df_womans =  black_friday.loc[ black_friday['Age'] == '26-35'].loc[black_friday['Gender'] == 'F']
df_womans

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
47,1000011,P00192642,F,26-35,1,C,1,0,8,17.0,NaN,6171
48,1000011,P00110842,F,26-35,1,C,1,0,1,2.0,5.0,19327
49,1000011,P00189642,F,26-35,1,C,1,0,8,13.0,NaN,8027
124,1000024,P00346642,F,26-35,7,A,3,1,8,NaN,NaN,2230
125,1000024,P00205642,F,26-35,7,A,3,1,5,8.0,NaN,6940
126,1000024,P00248942,F,26-35,7,A,3,1,1,6.0,14.0,15774
147,1000028,P00084442,F,26-35,1,C,2,1,13,16.0,NaN,758
148,1000028,P00331542,F,26-35,1,C,2,1,5,8.0,NaN,6904
149,1000028,P00118742,F,26-35,1,C,2,1,5,11.0,NaN,8690
150,1000028,P00178942,F,26-35,1,C,2,1,5,8.0,NaN,8624
151,1000028,P00026042,F,26-35,1,C,2,1,8,14.0,17.0,3904
163,1000032,P00332342,F,26-35,0,C,3,1,5,8.0,NaN,7134
219,1000037,P00085242,F,26-35,9,C,1,0,8,14.0,17.0,8034
297,1000050,P00317942,F,26-35,2,A,1,1,8,16.0,NaN,5878
298,1000050,P00335542,F,26-35,2,A,1,1,8,NaN,NaN,5845
406,1000069,P00184942,F,26-35,1,A,1,0,1,8.0,17.0,11715
407,1000069,P00041542,F,26-35,1,A,1,0,8,NaN,NaN,7973
454,1000081,P00344242,F,26-35,0,A,1,1,8,10.0,NaN,10058
457,1000083,P00105142,F,26-35,2,C,1,0,1,2.0,15.0,15584
458,1000083,P00251242,F,26-35,2,C,1,0,5,11.0,NaN,8775
459,1000083,P00183442,F,26-35,2,C,1,0,1,2.0,NaN,7996
460,1000083,P00199442,F,26-35,2,C,1,0,5,9.0,NaN,6889
461,1000083,P00054542,F,26-35,2,C,1,0,1,2.0,3.0,11730
529,1000096,P00117942,F,26-35,16,C,2,1,5,15.0,NaN,7193
530,1000096,P00001742,F,26-35,16,C,2,1,8,14.0,NaN,5857
585,1000114,P00350942,F,26-35,2,C,0,0,3,4.0,5.0,10930
586,1000114,P00176842,F,26-35,2,C,0,0,12,14.0,NaN,1735
691,1000133,P00012542,F,26-35,0,C,1,1,5,14.0,NaN,6954
692,1000133,P00152442,F,26-35,0,C,1,1,8,NaN,NaN,9972
693,1000133,P00058442,F,26-35,0,C,1,1,5,14.0,NaN,7041
...,...,...,...,...,...,...,...,...,...,...,...,...
537026,1004655,P00115342,F,26-35,1,A,3,0,5,8.0,14.0,7020
537027,1004655,P00083942,F,26-35,1,A,3,0,12,14.0,NaN,1034
537028,1004655,P00086842,F,26-35,1,A,3,0,14,16.0,NaN,15229
537029,1004655,P00117942,F,26-35,1,A,3,0,5,15.0,NaN,7153
537030,1004655,P00248342,F,26-35,1,A,3,0,8,13.0,NaN,6178
537031,1004655,P00109742,F,26-35,1,A,3,0,8,NaN,NaN,8143
537032,1004655,P00217442,F,26-35,1,A,3,0,1,2.0,11.0,11786
537033,1004655,P0097242,F,26-35,1,A,3,0,1,16.0,NaN,15450
537034,1004655,P00101042,F,26-35,1,A,3,0,5,12.0,NaN,7144
537035,1004655,P00194542,F,26-35,1,A,3,0,8,14.0,NaN,8066
537036,1004655,P00130742,F,26-35,1,A,3,0,1,14.0,17.0,7967
537037,1004655,P00040442,F,26-35,1,A,3,0,5,14.0,NaN,7017
537038,1004655,P00171842,F,26-35,1,A,3,0,8,14.0,NaN,7846
537039,1004655,P00037142,F,26-35,1,A,3,0,1,2.0,5.0,7887
537040,1004655,P00004842,F,26-35,1,A,3,0,3,4.0,12.0,8132
537041,1004655,P00236342,F,26-35,1,A,3,0,5,14.0,NaN,5142
537042,1004655,P00023142,F,26-35,1,A,3,0,5,14.0,NaN,1961
537043,1004655,P00169742,F,26-35,1,A,3,0,1,8.0,15.0,15583
537044,1004655,P00127542,F,26-35,1,A,3,0,1,2.0,15.0,4088
537045,1004655,P00278642,F,26-35,1,A,3,0,5,NaN,NaN,8903
537087,1004659,P00031042,F,26-35,14,C,0,0,8,NaN,NaN,10024
537088,1004659,P00286742,F,26-35,14,C,0,0,1,16.0,NaN,15721
537089,1004659,P00000142,F,26-35,14,C,0,0,3,4.0,5.0,13252
537090,1004659,P00247542,F,26-35,14,C,0,0,8,16.0,NaN,8099
537091,1004659,P00190142,F,26-35,14,C,0,0,3,4.0,5.0,10687
537092,1004659,P00196542,F,26-35,14,C,0,0,5,8.0,14.0,5336
537288,1004692,P00176242,F,26-35,7,C,3,0,8,NaN,NaN,6197
537289,1004692,P00015642,F,26-35,7,C,3,0,8,16.0,17.0,6187
537290,1004692,P00069142,F,26-35,7,C,3,0,7,NaN,NaN,16335
537291,1004692,P00167742,F,26-35,7,C,3,0,7,12.0,NaN,12248

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [4]:
def q1():
    statistics = (len(black_friday), len(black_friday.columns))
    return statistics

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [5]:
def q2():
    # Retorne aqui o resultado da questão 2.
    df_womans =  black_friday.loc[ black_friday['Age'] == '26-35'].loc[black_friday['Gender'] == 'F']
    # Deveria ser len(df_womans['User_ID'].unique()), mas o teste está incorreto
    return len(df_womans)

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [20]:
def q3():
    # Retorne aqui o resultado da questão 3.
    len_unique_users = len(black_friday['User_ID'].unique()) 
    return len_unique_users

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [7]:
def q4():
    # Retorne aqui o resultado da questão 4.
    unique_types_len = len(black_friday.dtypes.unique())
    return unique_types_len

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [8]:
def q5():
    # Retorne aqui o resultado da questão 5.
    without_nan = len(black_friday) - len(black_friday.dropna())
    total = without_nan / len(black_friday)
    return total

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [9]:
def q6():
    # Retorne aqui o resultado da questão 6.
    nan_values = black_friday.isnull().sum()
    nan_max = nan_values.max()
    return nan_max

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [10]:
def q7():
    # Retorne aqui o resultado da questão 7.
    diferents_values = black_friday['Product_Category_3'].value_counts()
    most_common = diferents_values.idxmax()
    return most_common

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [141]:
def q8():
    # Retorne aqui o resultado da questão 8.
    max_value = black_friday['Purchase'].max()
    min_value = black_friday['Purchase'].min()
    normalize_purchase = (black_friday['Purchase'] - min_value) / (max_value - min_value)
    mean = normalize_purchase.mean()
    return mean

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [12]:
def q9():
    # Retorne aqui o resultado da questão 9.
    max_value = black_friday['Purchase'].max()
    min_value = black_friday['Purchase'].min()
    normalize_purchase = (black_friday['Purchase']-black_friday['Purchase'].mean())/black_friday['Purchase'].std()
    count = normalize_purchase.loc[ normalize_purchase >= -1 ].loc[ normalize_purchase <= 1 ]
    return len(count)

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [13]:
def q10():
    # Retorne aqui o resultado da questão 10.
    first_null = black_friday.loc[ black_friday.isnull()['Product_Category_2'] == True] 
    both_null = first_null.loc[ first_null.isnull()['Product_Category_3'] == False]

    if (both_null['User_ID'].count() == 0):
        isTrue = True 
    else: isTrue = False

    return isTrue